
body {
  font-family: 'Lato', sans-serif;
  font-weight: 250;
  font-size: 1em;
  color: #fff;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#13262b+0,012c38+44,002533+100 */
  background: #13262b; /* Old browsers */
  background: -moz-linear-gradient(top,  #13262b 0%, #012c38 44%, #002533 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #13262b 0%,#012c38 44%,#002533 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #13262b 0%,#012c38 44%,#002533 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13262b', endColorstr='#002533',GradientType=0 ); /* IE6-9 */
  /*background: url(../images/background2.jpg) no-repeat center;
  background-size: cover;*/
}

/* Inputs and Buttons */

input {
  width: 100%;
  border:0;
  padding:7px 0;
  margin: 5px 0;
  font-size:.8em;
  display: block;
  color: #444;
  text-indent: 10px;
}

title {
  width: 60%;
  margin-top: 4%;
  margin: auto;
  padding: 10px;
  font-size: 300%;
}

td {
  text-align: center;
}

 .edit-guide, .delete-guide {
  width: 10%;
  top: 110px;
  left: 39%;
  color: white;
  bottom: 10;
  padding: 10px;

}

header{
  background-color: #005580;
  padding: 10px;
  min-height: 50px;
  /*height: 90px;*/
  width: 100%;
}
nav{
  max-width: 90%;
  margin: 0 auto;
}

nav h1 {
  /*font-size: 100%;
  margin-top: 1%;*/
  width: 250px;
  height: 15px;
  top: 110px;
  left: 39%;
  float: left;
  color: white;
  bottom: 10;
  padding: 10px;
}

nav h4 {
  font-size: 75%;
  font-weight: 100;
  width: 250px;
  height: 15px;
  position: relative;
  bottom: 0;
  color: white;

}

nav ul{
  list-style-type: none;
  float: right;

}
nav ul li{
  display: inline;
  padding: 15px;
  line-height: 40px;
  top: 0%;
}
nav ul li a{
  color: white;
  text-decoration: none;
}

nav ul li:after {
   content:" | ";
   padding: 0 5px 0 15px;
}

nav ul li:last-child:after {
   content:" ";
}


nav ul li a:hover {
  color: rgba(49,169,200,0.3);
}

/*.wrapper {
  width: 100%;
  height:auto;
  padding: 30px 0 250px;
  background: url(../images/sc2background.jpg) no-repeat center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}*/

.show-guide-button {
  background-color: rgba(49,169,200,0.3);
}

button, input[type="submit"] {
  width: 100%;
  border: 0;
  padding: 10px;
  margin: 5px 0;
  background-color: #005580;
  color: #fff;
}

button:hover, input[type="submit"]:hover {
  background-color: #24748c;
  color: #fff;
}

button:active, input[type="submit"]:active {
  background-color: orange;
  color: #fff;
}

a {
    text-decoration: none;
    color: #2d6987;
}

/* Register and Login */
.API-register {
  /*position: absolute;*/
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 25%;
  height: 37%;
  background-color: rgba(0,0,0,0.5);
}

.API-login {
   /*position: absolute;*/
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 25%;
  height: 37%;
  background-color: rgba(0,0,0,0.5);
}

.register-login {
  padding: 20px 10%;
}

.landingPage {
  margin: 0px auto 0;
  padding: 5px 5px 0px;
  color: white;
  overflow: auto;
  text-align: center;
}

.user-messages > p {
  margin-top: 1px;
}

.user-messages {
  width: 250px;
  height: 15px;
  top: 110px;
  left: 39%;
  float: left;
  color: white;
  bottom: 10;
  padding: 10px;
  /*background-color: #005580;*/
}

#createGuideContainer, #updateGuideContainer {
  width: 40%;
  top: 160px;
  position: absolute;
  bottom: 50px;
  margin-left: 56%;
}

#descriptionInput {
  width: 400px;
  height: 300px;
  margin-right: 1%;
}

#showAllGuidesTable, #single-guide {
  width: 67%;
  margin-top: 12%;
  margin-left: 21%;
  background: #005580;
  /*margin: auto;*/
  padding: 10px;
}

#single-guide > h2, h3 {
 text-align: center;
}

#single-guide > h2 {
 font-size: 200%;
}

#updateGuide {
  width: 70%;
  float: left;
  bottom: 10px;
}
